body {
    font-family: 'Architects Daughter', cursive;
    background-color: antiquewhite;
    font-size: larger;
}

p {
    font-family: 'Neucha', cursive;
    word-spacing: .4em;
}

header {
    text-align: center;
    font-size: larger;
    /* display: flex;*/
    flex-direction: column;
}

.head {
    line-height: .6em;

}

div.navbar {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    margin: auto;
    text-align: center;
    padding-left: 4%

}

div.navbar a {
    background-image: linear-gradient(lightseagreen, lavender);
    padding: 3px;
    border-radius: 5px;
    color: maroon;
    transition: .3s;
}

div.navbar a:hover {
    opacity: .6;
    color: midnightblue;
    background-image: linear-gradient(lavender, lightseagreen)
}

footer {
    display: flex;
    justify-content: space-around;
}

footer div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

p.foot {
    text-align: center;
    line-height: .3em;
}

p.foot a {
    transition: .3s;
}

p.foot a:hover {
    color: turquoise;
}



/* HOMEPAGE */


.me {
    display: flex;
    justify-content: center;
}

.me img {
    margin: auto;
    max-width: 20vw;
    border-radius: 25px;
}

.bio {
    margin: 2%;
    background-image: linear-gradient(to top, beige, paleturquoise, beige);
    border-radius: 25px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%
}

.bio h2 {
    text-indent: 1em;
}

.bio p {
    text-indent: 2em;
}

div.picWrap {
    display: flex;
justify-content: center;
margin: 2%;
flex-direction:row;

}

div.picRow {
    display: flex;
    flex-direction: column;

}





/* COURSE PROJ */



section.courseCont {
    display: flex;
    flex-direction: column;
}

h1.heading {

    text-align: center;
}

h2.subhead {
    text-indent: 4em;
}

div.animation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    background-image: linear-gradient(to top, beige, paleturquoise, beige);
    padding-top: 2%;
    padding-bottom: 1%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 15px;
}

div.txt {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    background-image: linear-gradient(to top, beige, paleturquoise, beige);
    padding-top: 2%;

    margin-left: 2%;
    margin-right: 2%;
    border-radius: 15px;
}

div.threeD {
    background-image: linear-gradient(to top, beige, paleturquoise, beige);
    padding-top: 2%;

    margin-left: 2%;
    margin-right: 2%;
    border-radius: 15px;
}


div.img {
    transition: .3s;
}

div.img:hover {
    opacity: .6;
}

img#blues {
    width: 40vw;
}

img#ballot {
    width: 40vw;
}

div.desc {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;

}

div.descSect {
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: 1%;

}

div.descSection {
    margin: auto;
    padding: 1%;
    flex: 1;

}

div.descSection h3 {
    text-align: center;
}

div.descSect h3 {
    text-align: center;
}

div.descSect h4 {
    text-align: center;
}

div.descSection p {
    text-indent: 2em;
    padding: 1%;
}

img.threeD {
    width: 30vw;
}

div.threeDsect {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
}

div.vidSect {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    flex-direction: row;
}

div.video {
    align-content: center;
    margin: auto;
    display: flex;
    flex-direction: column;
}

div.video p {
    text-align: center;
}




/* OTHER PROJ */



div.animation {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to top, beige, paleturquoise, beige);
    padding-top: 2%;

    margin-left: 2%;
    margin-right: 2%;
    border-radius: 15px;
}

div.intern {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to top, beige, paleturquoise, beige);
    padding-top: 2%;

    margin-left: 2%;
    margin-right: 2%;
    border-radius: 15px;
}

div.row {
    display: flex;
    justify-content: center;
}

div.site {

}

img.img {
    width: 30vw;
    height: 30vh;
    transition: .3s;
}

img.img:hover {
    opacity: .6;
}

div.personal {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to top, beige, paleturquoise, beige);
    padding-top: 2%;

    margin-left: 2%;
    margin-right: 2%;
    border-radius: 15px;
}

h2.subhead {
    text-indent: 4em;
}

h1.heading {
    text-align: center;
}

div.site p {
    text-align: center;
}

div.video p {
    text-align: center;
}




                    /* RESUME STYLE */

div.resume {
    font-family:courier, fixed, monospace;
}

div.resume i {
    font-family:courier, fixed, monospace;
}

div.resume p {
    font-family:courier, fixed, monospace;
}

div#resumeMarg {
    margin:40px;
    padding-left:20px;
}

div#skillz {
    padding:60px;
}

div#XP {
    
    padding-right:140px;
    padding-left:30px;
}

