
body {
background-color: /*BurlyWood*/ #F0F8FF;
color: indigo; 
/*font-family: arial, helvetica, sans-serif;*/


font-family: 'Quicksand', sans-serif;
}

div.header {
    text-align: center;
}

div.navbar {
    word-spacing: 30px;
}
    
div.content {
    margin: auto;
}

div.images {
    display: flex;
    flex-direction:row;
    
}

div.images img {
    flex:1;
}

div.images div {
    flex:1;
}

footer{
    display: flex;
    text-align: center;
}

footer p {
    flex: 1;
}
